.sub-header {
    display: flex;
    align-items: center;
    margin: 0 60px 10px 60px;
}

.location-icon {
    margin-right: 10px;
}

.location-marker {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.sub-header-links {
    display: flex;
    gap: 20px;
}

.sub-header-links a {
    color: #B0BABF;
    text-decoration: none;
    text-transform: capitalize;
}