.sub-header {
    display: flex;
    align-items: center;
    padding: 0 60px 10px 60px;
}

.location-icon {
    margin-right: 10px;
}

.location-marker {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.sub-header-links {
    display: flex;
    gap: 20px;
}

.sub-header-links a {
    color: #B0BABF;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
}

@media screen and (max-width: 430px) {
    .sub-header {
        font-size: 0.75rem;
        display: block;
    }

    .location-icon {
        margin: 0px;
    }

    .sub-header-links {
        overflow-x: auto;
    }


}