* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #ffffff;
}

.h1 {
  color: #1E2022;
}

.subtitle {
  color: #989090;
}

.logo {
  color: #CF2D2D;
  font-weight: 700;

}

.stroke {
  border-color: #B0BABF;
}

.heading {
  display: flex;
  align-items: center;
  gap: 10px;
}