.banner-container {
    position: relative;
    text-align: center;
    color: white;
}


.banner-text {
    margin-top: 150px;
    height: 100%;
    position: absolute;
}

.banner-text-main {
    padding: 0 150px;
    font-size: 3rem;
    font-weight: 600;
}

.banner-text-submain {
    padding: 0 250px;
    text-align: center;
}

.bannerImg {
    width: 100%;
}

.banner-recommended {
    position: relative;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .banner-text-main {
        font-size: 1.5rem;
        padding: 0 20px;
    }

    .banner-text-submain {
        padding: 0 50px;
    }

    .banner-text {
        margin-top: 100px;
    }

    /* style the .bannerImg based on its height not bbased on width*/
    .bannerImg {
        width: fit-content;
    }

    



}